@charset "utf-8";
/*.base{
    padding: 8dp;
    background-color: #3D3D3D;
}*/
.client-img{
    width: 100%;
    height: 100%;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
}
.lg-center{
    width: 90%;
    margin-left: 4%;
    margin-right: 4%;
    text-align: center;
}

.lg-center .center-float{
    float: left;
    margin: auto;
}

md-card{
    -webkit-transition: 150ms linear;
    -moz-transition: 150ms linear;
    -o-transition: 150ms linear;
    transition: 150ms linear;
}

